<p id="notice"><%= notice %></p>

<h3 class="">Upcoming Events</h3>

 <% @upcoming_events.order(:date).each do |event| %>
 <div>
  <%=event.title %>
  <%=event.description %>
  Starts in <%= event.date %>
  <% if current_user %>
    <% if future_non_hosted_event?(event) %>
      <li class="">
        <%= link_to "Reservation", event, class: "" %>
      </li>
    <% end %>
    <% if current_user_is_host?(event) %>
      <li class="">
        <%= link_to "Detail", event, class: "" %>
      </li>
    <% end %>
  <% end %>
  </div>
<% end %>

<h3 class="">Past Events</h3>
<% @past_events.order(:date).limit(50).each do |event| %>
  <li class="">
    <%= link_to event.title, event, class: "" %>
  </li>
<% end %>
