<p id="notice"><%= notice %></p>

<h3 class="">Upcoming Events</h3>

 <% @upcoming_events.order(:date).each do |event| %>
  <%= link_to event.title, event %>
  <%=event.description %>
  Starts in <%= event.date %>
  <% if current_user %>
    <% if current_user.invited_events.include?(event) %>
      <li class="">
        <%= link_to "Reservation", event, class: "" %>
      </li>
    <% else %>
    <li class="">
      <%= link_to "Details", event, class: "" %>
    </li>
    <% end %>
  <% end %>
<% end %>

<h3 class="">Past Events</h3>
<% @past_events.order(:date).limit(50).each do |event| %>
  <li class="">
    <%= link_to event.title, event, class: "" %>
  </li>
<% end %>
