<p id="notice"><%= notice %></p>

<div class="d-flex flex-row justify-content-center">
  
  <div class="d-flex flex-column col-4 mt-3">
    <h3 class="">Upcoming Events</h3>

 <% @upcoming_events.order(:date).each do |event| %>
 <div>
  <%=event.title %>
  <%=event.description %>
  Starts in <%= event.date %>
  <% if current_user %>
    <% if future_non_hosted_event?(event) %>
      <li class="">
        <%= link_to "Reservation", event, class: "" %>
      </li>
    <% end %>
    <% if current_user_is_host?(event) %>
      <li class="">
        <%= link_to "Detail", event, class: "" %>
      </li>
    <% end %>
  <% end %>
</div>
<% end %>

  <div class="d-flex flex-column col-4 mt-3">
    <h3>Past Events</h3>
    
    <% @past_events.order(:date).limit(50).each do |event| %>
      <div class="py-3">
        <%= link_to event.title, event, class: "" %>
      </div>
      <div class="pb-3 border-bottom">
      Took place <%= event.date %>
      </div>
    <% end %>
  </div>

</div>
