<p id="notice"><%= notice %></p>

<h1 class="pl-3">Events</h1>

<div class="row pl-3">
  <h3 class="col-2">Title</h3>
  <h3 class="col-4">Description</h3>
  <h3 class="col-2">Date</h3>
  <h3 class="col-1">User</h3>
</div>

<div class="row pl-3">
  <% @events.each do |event| %>
    <p class="col-2"><%= event.title %></p>
    <p class="col-4"><%= event.description %></p>
    <p class="col-2"><%= event.date %></p>
    <p class="col-1"><%= event.user_id %></p>
    <a class="col-2"><%= link_to 'Show', event %></a>
  <% end %>
</div>
