<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="control">
      <%= link_to "Create event", new_event_path, class: "button is-white" %>
    </p>
    <% if current_user %>
      <p class="control">
        <%= link_to current_user.name, user_path(current_user), class: "button is-white" %>
      </p>
      <p>
        <%= link_to "Logout", logout_path, class: "button is-white" %>
      </p>
    <% else %>
    <p class="control">
      <%= link_to 'Log In', login_path, class: "button is-white" %>
    </p>
		<p class="control">
      <%= link_to 'Sign Up', signup_path, class: "button is-white" %>
    </p>
              <% end %>

    <%= yield %>
  </body>
</html>
